apiVersion: apps/v1
kind: Deployment
metadata:
  name: wisecow
  labels:
    app: wisecow
spec:
  replicas: 2
  selector:
    matchLabels:
      app: wisecow
  template:
    metadata:
      labels:
        app: wisecow
    spec:
      imagePullSecrets:
      - name: ecr-secret
      containers:
      - name: wisecow
        image: 868422695890.dkr.ecr.us-west-2.amazonaws.com/wisecow:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 4499
